<!-- start: Header -->
<div class="navbar">
	<div class="container">
		<button class="navbar-toggle" type="button" data-toggle="collapse"
			data-target=".sidebar-nav.nav-collapse">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"> <span>Venus</span></a>

		<!-- start: Header Menu -->
		<div class="header-nav">
			<ul class="nav navbar-nav pull-right">

				<!-- start: User Dropdown -->
				<li class="dropdown hidden-xs"><a class="btn dropdown-toggle"
					data-toggle="dropdown" href="index.html#"> <i
						class="fa fa-user"></i> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="index.html#"><i class="fa fa-user"></i>
								Profile</a></li>
						<li><a href="login.html"><i class="fa fa-off"></i> Logout</a></li>
					</ul></li>
				<!-- end: User Dropdown -->
			</ul>
		</div>
		<!-- end: Header Menu -->

	</div>
</div>
<!-- start: Header -->
<div class="container">
	<div class="row">
		<!-- start: Main Menu -->
		<div class="col-sm-1 main-menu-span">
			<div class="sidebar-nav nav-collapse collapse navbar-collapse"
				style="position: fixed;">
				<ul class="nav nav-tabs nav-stacked main-menu" id="st_staff">
					<li class="dropmenu"><a href="#st_sc"><span
							class="hidden-sm"> Students</span></a></li>

					<li class="dropmenu"><a href="#fee_sc"><span class="hidden-sm">
								Fees</span></a></li>
					<li class="dropmenu"><a href="#class_sc"><span class="hidden-sm">
								Class Type</span></a></li>
					<li class="dropmenu"><a href="#subject_sc"><span class="hidden-sm">
								Subject Type</span></a></li>
					<li class="dropmenu"><a href="#test_sc"><span class="hidden-sm">
								Test Type</span></a></li>
					<li class="dropmenu"><a href="#staff_sc"><span class="hidden-sm">
								Staff Type</span></a></li>

				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/col-->
		<!-- end: Main Menu -->

		<div id="content" class="col-sm-11">
			<!-- start: Content -->

			<div class="row" id="st_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h2>Students & Staff</h2></li>
					</ul>
					<hr>


				</div>
				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-university"></i>
						<p>School</p>

					</a>
				</div>
				<!--/col-->

				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-child"></i>
						<p>Students</p> <span class="notification green"><%=
							studentCount%></span>
					</a>
				</div>
				<!--/col-->

				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-user"></i>
						<p>Parents</p> <span class="notification green"><%=
							parentCount%></span>
					</a>
				</div>
				<!--/col-->

				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-users"></i>
						<p>Staff</p> <span class="notification green"><%=
							staffCount%></span>
					</a>
				</div>
				<!--/col-->



			</div>
			<!--/row-->

			<br> <br>



			<div class="row" id="fee_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h2>Fee Type, Fee Paid Status & Fees</h2></li>
					</ul>
					<hr>
				</div>
				
				<!--  Fee Types Section -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Fee
								Type
							</h2>
							<div class="box-icon">
								<a href="#feeType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Fee Type</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feeTypes, function(feeType) { %> 
									<tr>
										<td>
								  			<%= feeType.name %>
										</td>
										<td>
											<%= feeType.description %>
										</td>
										<td><a class="btn btn-info" href="#feeType/<%= feeType._id%>"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--/col-->
				
				<!--  Fee Paid Status -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Fee Paid Status
							</h2>
							<div class="box-icon">
								<a href="#feeType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Fee Paid Status</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feePaidStatuses, function(feePaidStatus) { %> 
									<tr>
										<td>
								  			<%= feePaidStatus.name %>
										</td>
										<td>
											<%= feePaidStatus.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
               <!--  Fee Section -->
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Fee
							</h2>
							<div class="box-icon">
								<a href="#fee" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>type</th>
										<th>Class</th>
										<th>Amount<i class="fa fa-inr"></i></th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Frequency</th>
										<th>Due On</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(fees, function(fee) { %> 
									<tr>
										<td><%= fee.type %></td>
										<td><%= fee.studyclass.name %></td>
										<td><%= fee.amount %></td>
										<td><%= fee.startDate %></td>
										<td><%= fee.endDate %></td>
										<td><%= fee.frequency %></td>
										<td><%= fee.dueOn %></td>
										<td><%= fee.status %></td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a></td>
									</tr>
								<% }); %>	
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/col-->
			</div>
			<!--/row-->
			<br>

<!--  Class Section -->
			<div class="row" id="class_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h2>Class Type & Attendance Status</h2></li>
					</ul>
					<hr>
				</div>
				
				<!--  Clas Type Section -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Class
								Type
							</h2>
							<div class="box-icon">
								<a href="#classType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Class Type</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feeTypes, function(feeType) { %> 
									<tr>
										<td>
								  			<%= feeType.name %>
										</td>
										<td>
											<%= feeType.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--/col-->
				
				<!--  Fee Paid Status -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Attendance Status
							</h2>
							<div class="box-icon">
								<a href="#feeType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Attendance Status</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feePaidStatuses, function(feePaidStatus) { %> 
									<tr>
										<td>
								  			<%= feePaidStatus.name %>
										</td>
										<td>
											<%= feePaidStatus.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
            </div>
			<!--/row-->
			<br>
			
			<!--  Subject Section -->
			<div class="row" id="subject_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h2>Subjecta & Medium Type</h2></li>
					</ul>
					<hr>
				</div>
				
				<!--  Subjects Section -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Subjects
							</h2>
							<div class="box-icon">
								<a href="#classType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Subject</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feeTypes, function(feeType) { %> 
									<tr>
										<td>
								  			<%= feeType.name %>
										</td>
										<td>
											<%= feeType.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--/col-->
				
				<!--  Medium Type -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Medium Type
							</h2>
							<div class="box-icon">
								<a href="#feeType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Medium</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feePaidStatuses, function(feePaidStatus) { %> 
									<tr>
										<td>
								  			<%= feePaidStatus.name %>
										</td>
										<td>
											<%= feePaidStatus.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
            </div>
			<!--/row-->
			<br>
			
			<!--  Staff Type -->
			<div class="row" id="staff_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h2>Staff Type & Test Type</h2></li>
					</ul>
					<hr>
				</div>
				
				<!--  Subjects Section -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Staff Type
							</h2>
							<div class="box-icon">
								<a href="#classType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Staff Type</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feeTypes, function(feeType) { %> 
									<tr>
										<td>
								  			<%= feeType.name %>
										</td>
										<td>
											<%= feeType.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Test Type
							</h2>
							<div class="box-icon">
								<a href="#classType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Test Type</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
								<% _.each(feeTypes, function(feeType) { %> 
									<tr>
										<td>
								  			<%= feeType.name %>
										</td>
										<td>
											<%= feeType.description %>
										</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--/col-->
		    </div>
			<!--/row-->
			<br>
			
			
			<!--/row-->
			<br>
			
			

		</div>
		<!--/#content.span10-->
	</div>
	<!--/fluid-row-->



	<div class="clearfix"></div>

	<footer>
		<p>
			<span style="text-align: left; float: left">&copy; 2014
				IEXSoft LLC. <a href="">some link</a>
			</span>

		</p>
	</footer>

</div>
<!--/.fluid-container-->