<!-- start: Header -->
<div class="navbar">
	<div class="container">
		<button class="navbar-toggle" type="button" data-toggle="collapse"
			data-target=".sidebar-nav.nav-collapse">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"> <span>Venus</span></a>

		<!-- start: Header Menu -->
		<div class="header-nav">
			<ul class="nav navbar-nav pull-right">

				<!-- start: User Dropdown -->
				<li class="dropdown hidden-xs"><a class="btn dropdown-toggle"
					data-toggle="dropdown" href="index.html#"> <i
						class="fa fa-user"></i> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="index.html#"><i class="fa fa-user"></i>
								Profile</a></li>
						<li><a href="login.html"><i class="fa fa-off"></i> Logout</a></li>
					</ul></li>
				<!-- end: User Dropdown -->
			</ul>
		</div>
		<!-- end: Header Menu -->

	</div>
</div>
<!-- start: Header -->
<div class="container">
	<div class="row">
		<!-- start: Main Menu -->
		<div class="col-sm-1 main-menu-span">
			<div class="sidebar-nav nav-collapse collapse navbar-collapse"
				style="position: fixed;">
				<ul class="nav nav-tabs nav-stacked main-menu" id="st_staff">
					<li class="dropmenu"><a href="#st_sc"><span
							class="hidden-sm"> Students</span></a></li>

					<li class="dropmenu"><a href="#fee_sc"><span class="hidden-sm">
								Fees</span></a></li>
					<li class="dropmenu"><a><span class="hidden-sm">
								Class</span></a></li>
					<li class="dropmenu"><a><span class="hidden-sm">
								Subject</span></a></li>
					<li class="dropmenu"><a><span class="hidden-sm">
								Test</span></a></li>
					<li class="dropmenu"><a><span class="hidden-sm">
								Staff</span></a></li>

				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/col-->
		<!-- end: Main Menu -->

		<div id="content" class="col-sm-11">
			<!-- start: Content -->

			<div class="row" id="st_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h4>Students and Staff</h4></li>
					</ul>
					<hr>


				</div>
				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-university"></i>
						<p>School</p>

					</a>
				</div>
				<!--/col-->

				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-child"></i>
						<p>Students</p> <span class="notification green"><%=
							studentCount%></span>
					</a>
				</div>
				<!--/col-->

				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-user"></i>
						<p>Parents</p> <span class="notification green"><%=
							parentCount%></span>
					</a>
				</div>
				<!--/col-->

				<div class="col-sm-2 col-xs-4">
					<a class="quick-button"> <i class="fa  fa-users"></i>
						<p>Staff</p> <span class="notification green"><%=
							staffCount%></span>
					</a>
				</div>
				<!--/col-->



			</div>
			<!--/row-->

			<br> <br>



			<div class="row" id="fee_sc">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h4>Fees</h4></li>
					</ul>
					<hr>


				</div>
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Fee
								Type
							</h2>
							<div class="box-icon">
								<a href="#feeType" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<script type="text/template">
									<% _.each(action, function(acs) { %> 
                                  <a class="btn"><%= label %></a>
										<% }); %>
									</script>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!--/col-->

				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2>
								<i class="fa fa-align-justify"></i><span class="break"></span>Fee
							</h2>
							<div class="box-icon">
								<a href="#fee" class="btn-close"><i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>type</th>
										<th>Class</th>
										<th>Amount<i class="fa fa-inr"></i></th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Frequency</th>
										<th>Due On</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Term fee</td>
										<td>2nd class</td>
										<td>500</td>
										<td>04/01/2014</td>
										<td>06/01/2014</td>
										<td>Monthly</td>
										<td>Every Month 10th</td>
										<td>Active</td>
										<td><a class="btn btn-info" href="table.html#"> <i
												class="fa fa-edit "></i>
										</a> <a class="btn btn-danger" href="table.html#"> <i
												class="fa fa-trash-o "></i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/col-->
			</div>
			<!--/row-->
			<br>


			<div class="row">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h4>Fee</h4></li>
					</ul>
					<br>

				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1"> <i class="fa  fa-rupee"></i>
						<p>Fee</p> <span class="notification red">2</span>
					</a>
				</div>

				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1"> <i class="fa  fa-minus-square-o"></i>
						<p>Fee Concession</p> <span class="notification red">2</span>
					</a>
				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1"> <i class="fa  fa-plus-square-o"></i>
						<p>Fee Paid Status</p> <span class="notification red">2</span>
					</a>
				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1"> <i class="fa  fa-list"></i>
						<p>Fee Types</p> <span class="notification red">2</span>
					</a>
				</div>


			</div>
			<!--/row-->

			<br>


			<div class="row">
				<div>
					<hr>
					<ul class="breadcrumb">
						<li><h4>Others</h4></li>
					</ul>
					<br>

				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1"> <i class="fa  fa-check"></i>
						<p>Attendance Status</p> <span class="notification">2</span>
					</a>
				</div>

				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1" href="#mediumType"> <i
						class="fa  fa-language"></i>
						<p>Medium type</p> <span class="notification">2</span>
					</a>
				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1" href="#classType"> <i
						class="fa  fa-cubes"></i>
						<p>Class type</p> <span class="notification">2</span>
					</a>
				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1" href="#staffType"> <i
						class="fa  fa-group"></i>
						<p>Staff type</p> <span class="notification">2</span>
					</a>
				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1" href="#testType"> <i
						class="fa  fa-group"></i>
						<p>Test type</p> <span class="notification">2</span>
					</a>
				</div>
				<div class="col-sm-2 col-xs-3">
					<a class="quick-button span1" href="#subject"> <i
						class="fa  fa-group"></i>
						<p>Subjects</p> <span class="notification">2</span>
					</a>
				</div>

			</div>
			<!--/row-->

		</div>
		<!--/#content.span10-->
	</div>
	<!--/fluid-row-->



	<div class="clearfix"></div>

	<footer>
		<p>
			<span style="text-align: left; float: left">&copy; 2014
				IEXSoft LLC. <a href="">some link</a>
			</span>

		</p>
	</footer>

</div>
<!--/.fluid-container-->